<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="['/devices']"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/devices/settings', deviceInfo._id, deviceInfo.name]">
                <ion-icon size-md="6" name="settings"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isLoading">
                <ion-spinner name="lines-small">
                </ion-spinner>
            </ion-button>
            <ion-button *ngIf="!isLoading" (click)="fetchData()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{deviceInfo.name}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row *ngFor="let record of data">
            <ion-col size-md="6">
                <ion-card color="primary" style="font-size: medium">
                    <ion-card-header>
                        <div>
                            <ion-icon name="alarm"></ion-icon>
                            {{record.recorded_at | date: 'medium'}}
                        </div>
                    </ion-card-header>
                    <ion-row>
                        <ion-col>
                            <ion-icon name="thermometer"></ion-icon>
                            {{record.temperature}}
                        </ion-col>
                        <ion-col>
                            <ion-icon name="water" class="ion-color-primary"></ion-icon>
                            {{record.humidity}}
                        </ion-col>
                        <ion-col>
                            Soil: {{record.soil_moisture}}
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="showMoreParams !== null">
            <ion-col size-md="6" style="margin-left: 10px">
                <ion-button (click)="showMore()">
                    <ion-icon slot="start" name="add" *ngIf="!isLoading"></ion-icon>
                    <ion-spinner slot="end" name="dots" *ngIf="isLoading"></ion-spinner>
                    Show more
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
