<ion-header>
    <ion-toolbar>
        <ion-title>devices</ion-title>
        <ion-buttons slot="end">
            <!--            <ion-button position="end" [routerLink]="['/devices/new-device']">-->
            <!--                <ion-icon name="add" slot="start"></ion-icon>-->
            <!--                New device-->
            <!--            </ion-button>-->
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let device of devicesList">
            <ion-col size-md="6">
                <ion-card>
                    <ion-item>
                        <ion-card-header>
                            {{device.deviceName}}
                        </ion-card-header>
                        <ion-card-content>
                            SN: {{device.deviceId}}
                        </ion-card-content>

                        <a [routerLink]="['/devices', device.deviceId, device.deviceName]">Details</a>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/devices/new-device']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
