<ion-header>
    <ion-toolbar>
        <ion-title>devices</ion-title>
        <ion-buttons slot="end" style="margin-right: 20px;">

            <ion-button (click)="fetchDevices()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>

            <ion-button slot="end" (click)="presentPopover($event)">
                <ion-icon name="list" md="md-list">
                </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let device of devicesList">
            <ion-col size-md="8">
                <ion-card>
                    <ion-card-content>
                        <p>{{device.name}}123</p>
                        <p>ID: {{device._id}}</p>
                    </ion-card-content>
                    <ion-item>
                        <ion-icon name="settings" slot="end"
                                  [routerLink]="['/devices', device._id, device.name]"></ion-icon>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/devices/new-device']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
